# Python virtual environment
venv/
venv\
.venv/
env/
ENV/
.env
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Datasets
hpc_datasets/
data/
*.csv
*.m2

# Model outputs
models/
checkpoints/
*.pt
*.bin
*.safetensors

# Results and logs
results/*.csv
results/*.out
results/*.err
logs/
*.out
*.err

# TensorBoard
runs/
events.out.tfevents.*